/* style for all devices */
.column {
    float: left;
    height: 50px;
/* style for mobile */
    width: 100%;
    background-color: #000;
    margin: 10px 0;
}

/* style for desktop*/
@media (min-width: 992px) {
    .column {
        background-color: #0997d3;
    }
}

/*style for tablet */
@media (min-width: 768px) {
    .column {
        background-color: #e84610;
        width: 30%;
        margin: 10px;
    }
}
